[user]
    email = omeragacan@gmail.com
    name = Ömer Sinan Ağacan
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[alias]
    df = diff --color
[push]
    default = current
[format]
    signoff = false
[core]
    excludesfile = /home/omer/.gitignore_global
    pager = less -R -+F -X
    # pager = delta --paging=always
[interactive]
    diffFilter = delta --color-only --paging=always
    side-by-side = true
    features = unobstrusive-line-numbers decorations
[delta]
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    tool = meld
    colorMoved = default
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[pull]
    rebase = true
[init]
    defaultBranch = main
