[submodule ".vim/bundle/gundo"]
	path = .vim/pack/plugins/start/gundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/haskell-vim"]
	path = .vim/pack/plugins/start/haskell-vim
	url = https://github.com/osa1/haskell-vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/dracula-vim"]
	path = .vim/pack/plugins/start/dracula-vim
	url = https://github.com/dracula/vim.git
